@model Sistema_Patrimonio.Models.DbDepartamento

@{
    ViewData["Title"] = "Create";
}

<h1>Novo departamento</h1>



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nomedepartamento" class="control-label">Nome</label>
                <input asp-for="nomedepartamento" class="form-control" />
                <span asp-validation-for="nomedepartamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricaodepartamento" class="control-label">Descrição</label>
                <input asp-for="descricaodepartamento" class="form-control" />
                <span asp-validation-for="descricaodepartamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idlocal" class="control-label">Locais</label>
                @*HtmlHelpers*@
                @*<text>Local</text> @Html.DropDownList("Local", new SelectList(ViewBag.local))*@
                @*Razor*@
                <select asp-items=@ViewBag.local2 asp-for="idlocal" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-dark">Voltar</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
